.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b35b5b;
    padding: 10px;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
  }