body {
  margin: 0; /* Add this line */
}

.centered {
  text-align: center;
  border: 3px solid black;
  border-radius: 15px;
  height: 400px;
  width: 400px;
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
